<div class="container form-container">
  <div class="header">
    <h1>Formulaire de création d'une dépense</h1>
  </div>
  <%= simple_form_for(@spending) do |f| %>
    <div class="form_inputs">
      <%= f.input :title, label: "Intitulé", class: "form-input"%>
      <%= f.input :amount, label: "Montant", class: "form-input"%>
      <%= f.collection_select :flatmate_id, @flatmates, :id, :first_name, { label: "Acheté par" }, { class: "form-control" } %>
    </div>
    <div class="form-group">
      <label>Associer des colocataires :</label>
      <%= select_tag "flatmate_ids[]", options_from_collection_for_select(@flatmates, :id, :first_name), multiple: true, class: "form-control" %>
    </div>
    <div class="form_actions d-flex justify-content-center">
      <%= f.submit "Ajouter la dépense", class: "btn btn-flat" %>
    </div>
  <% end %>
</div>
